* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
.container {
    padding: 8px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem 1rem;
}
.card1 {
    background-color: Violet;
    border: 2px solid red;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
}
.heading {
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.text-heading {
    padding: 2px;
    margin: 2px;
    font-size: medium;
}
.text-target {
    background-color: yellowgreen;
    padding: 2px;
}
.num_target {
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
}
.number{
    color: dodgerblue;
    font-size: xxx-large;

}
.target{
    font-size: smaller;
    padding-top: 1.25em;

}
.box {
    background-color: aquamarine;
    margin: auto;
}
.viz-box {
    padding: 1em;
    margin: 2em;
    background-color: white;
    min-width: 40rem;
    min-height: 20rem;
}
.in-box-text {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    font-size: medium;
}
