* {
    box-sizing: border-box;
}
body {
    font-size: 14px;
}
.container {
    padding: 8px;
    margin: auto;
    display: grid;
    gap: 2rem 1rem;
}
.card1 {
    background-color: Violet;
    border: 2px solid red;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: start;
}
.heading {
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.text-heading {
    padding: 2px;
    margin: 2px;
    font-size: medium;
}
.text-target {
    background-color: yellowgreen;
    padding: 2px;
}
.num_target {
    padding: 2px;
    margin: 2px;
    display: flex;
    flex-direction: row;
}
.number{
    color: dodgerblue;
    font-size: xxx-large;

}
.target{
    font-size: smaller;
    padding-top: 1.25em;

}
.box {
    background-color: aquamarine;
    margin: auto;
}
.box2 {
    background-color: aquamarine;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.test-part-one {
    display: flex;
    flex-direction: column;
}
.test-part-one-upper-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.erase-button{
    margin: 1em;
}
.code-box {
    padding: 1em;
    margin: 0.5em 2em 2em;
    background-color: white;
    min-width: 40rem;
    min-height: 2.5rem;
}
.viz-box {
    padding: 1em;
    margin: 0em 2em 2em;
    background-color: white;
    min-width: 40rem;
    min-height: 20rem;
}
.viz-box2-layout {
    display: flex;
    flex-direction: row;
}
.viz-box2-left {
    padding: 1em;
    margin: 0em 0.5em 2em 2em;
    background-color: white;
    min-width: 19.5rem;
    min-height: 20rem;
}
.viz-box2-right {
    padding: 1em;
    margin: 0em 2em 2em 0.5em;
    background-color: white;
    min-width: 19.5rem;
    min-height: 20rem;
}
.in-box-text {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    font-size: medium;
}
.in-box-text2 {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    font-size: medium;
}
.buttons {
    margin: 2em 2em 0.3em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.open-button {
    background-color: cornflowerblue;
    text-align: center;
    cursor: pointer;
    min-width: 49.5%;
    border-radius: 8px;
    border: none;
    padding: 0.3em;
}
.closed-button {
    background-color: gray;
    text-align: center;
    cursor: pointer;
    min-width: 49.5%;
    border-radius: 8px;
    border: none;
    padding: 0.3em;
}
.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.viz-box-text-left {
    padding: 1em;
    margin: 0em 0.5em 2em 2em;
    background-color: white;
    min-width: 19.5rem;
    min-height: 15rem;
}

